name: Inputs-practise
on:
  workflow_dispatch:
   inputs:
     environment:
        description: " Enter the environment"
        required : true
        default : 'production'
        type: choice
        options:
         - production
         - dev
         - ubuntu-server
     notify:
      description: "Want to notify "
      required : true
      type : boolean
      default: false
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo 'deploying to ${{ github.event.inputs.environment}}' 


